---
import { t } from 'i18next'

const experience = [
  {
    date: 'Mar 2021 - actualidad',
    title: t('experience.job.iiacTitle'),
    employer: t('experience.job.iiacEmployer'),
    body: t('experience.job.iiacBody'),
  },
  {
    date: 'Sep 2020 - actualidad',
    title: t('experience.job.culturaTitle'),
    employer: t('experience.job.culturaEmployer'),
    body: t('experience.job.culturaBody'),
  },
  {
    date: 'Oct 2021 - Dic 2022',
    title: t('experience.job.bnmmTitle'),
    employer: t('experience.job.bnmmEmployer'),
    body: t('experience.job.bnmmBody'),
  },
]
---

<section id='experience'>
  <h2 class='text-4xl font-bold mb-8'>{t('experience.title')}</h2>
  <ol class='relative border-l border-gray-400 mt-4 mx-2 flex flex-col gap-4'>
    {
      experience.map((exp) => (
        <li class='ml-4'>
          <div class='absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-gray-900 bg-primary' />
          <time class='mb-1 text-sm font-normal leading-none text-gray-300'>
            {exp.date}
          </time>
          <h3 class='text-lg font-semibold text-white'>{exp.title}</h3>
          <p class='text-gray-400 italic'>{exp.employer}</p>
          <p class='mb-4 mt-1 text-base font-normal text-gray-200'>
            {exp.body}
          </p>
        </li>
      ))
    }
  </ol>
</section>
