<footer class='flex justify-center mb-2 mt-8 p-4 max-w-3xl mx-auto'>
  <div class='flex gap-4 items-center'>
    <a href='https://github.com/alejoelconejo' target='_blank'>
      <img class='h-8 w-8' src='images/logos/github-logo.svg' />
    </a>
    <a href='https://www.linkedin.com/in/alejo-hernan-janin/' target='_blank'>
      <img class='h-8 w-8' src='images/logos/linkedin-logo.svg' />
    </a>
    <a
      href='mailto:alejojanin@gmail.com?Subject=Propuesta%20laboral'
      target='_blank'
    >
      <img class='h-8 w-8' src='images/logos/mail-logo.svg' />
    </a>
  </div>
</footer>
