<header class='bg-darkGray/75 z-50 backdrop-blur fixed top-0 left-0 right-0'>
  <div
    class='flex justify-between items-center md:py-3 py-2 px-2 max-w-3xl mx-auto'
  >
    <a href='/'>
      <img
        src='images/logos/logo.png'
        class='h-11 w-11'
        alt='Alejo Hernán Janin Logo'
        aria-label='Logo'
      />
    </a>
    <nav>
      <ul
        class='flex md:gap-8 gap-4 font-lg [&_a:hover]:text-secondary [&_a]:transition-colors [&_a]:duration-75'
      >
        <li><a href='#projects'>Proyectos</a></li>
        <li><a href='#experience'>Experiencia</a></li>
        <li><a href='#contact'>Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
