<header class='flex justify-around p-4 bg-violet-700'>
  <img src='' />
  <nav>
    <ul class='flex gap-8 font-lg'>
      <li>About me</li>
      <li>Projects</li>
      <li>Career</li>
    </ul>
  </nav>
</header>
