<header
  class='flex md:justify-between justify-between items-center md:py-4 py-2 px-2 max-w-3xl fixed top-0 left-0 right-0 mx-auto bg-[#222222]/75 z-50 backdrop-blur'
>
  <a href='#'>
    <img src='images/logos/logo.png' class='h-11' />
  </a>
  <nav>
    <ul
      class='flex md:gap-8 gap-4 font-lg [&_a:hover]:text-[#a39bf9] [&_a]:transition-colors [&_a]:duration-75'
    >
      <li><a href='#projects'>Proyectos</a></li>
      <li><a href='#experience'>Experiencia</a></li>
      <li><a href='#contact'>Contacto</a></li>
    </ul>
  </nav>
</header>
