---
import { t } from 'i18next'
---

<div
  class='flex gap-4 items-center shrink-0 [&_img:hover]:opacity-80 [&_img]:transition-opacity [&_img]:duration-75'
>
  <a href='https://github.com/alejoelconejo' target='_blank'>
    <img
      class='h-8 w-8'
      src='images/logos/github-logo.svg'
      alt='Github Logo'
      title='GitHub'
    />
  </a>
  <a href='https://www.linkedin.com/in/alejo-hernan-janin/' target='_blank'>
    <img
      class='h-8 w-8'
      src='images/logos/linkedin-logo.svg'
      alt='LinkedIn Logo'
      title='LinkedIn'
    />
  </a>
  <a
    href={`mailto:alejojanin@gmail.com?Subject=${t('email.subject')}`}
    target='_blank'
  >
    <img
      class='h-8 w-8'
      src='images/logos/mail-logo.svg'
      alt='E-mail Logo'
      title='E-Mail'
    />
  </a>
</div>
