---
import i18next, { t } from 'i18next'
import '@fontsource/inter'
---

<!DOCTYPE html>
<html lang={i18next.language} class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/images/logos/logo.png' />
    <meta name='description' content={t('site.description')} />
    <meta name='generator' content={Astro.generator} />
    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://alejojanin.vercel.app/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={t('site.title')} />
    <meta property='og:description' content='Frontend Web Developer' />
    <meta
      property='og:image'
      content='https://alejojanin.vercel.app/images/portfolio-og.png'
    />
    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='alejojanin.vercel.app' />
    <meta property='twitter:url' content='https://alejojanin.vercel.app/' />
    <meta name='twitter:title' content={t('site.title')} />
    <meta name='twitter:description' content='Frontend Web Developer' />
    <meta
      name='twitter:image'
      content='https://alejojanin.vercel.app/images/portfolio-og.png'
    />
    <title>{t('site.title')}</title>
  </head>
  <body class='bg-background text-white'>
    <slot />
  </body>
</html>
